{% extends 'page-shell.html' %}
{% block page_content %}
<div class="Page-content">
    <main class="Page-contentInner Page-contentInner--floatingLinks">
        <div class="powerbi-container">
            <iframe class="w-full h-[75vh]"
                src="http://5cg2126by0/Vulekamali-Report/powerbi/Spending%20plans%20by%20programme%20and%20sub?rs:embed=true&navContentPaneEnabled=false&filter=Sheet3/FinancialYear eq 2024 and Sheet3/Department eq 'Basic Education'"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </main>
</div>
{% endblock %}