annotated-types==0.7.0
ansicon==1.89.0
anyascii==0.3.2
arrow==1.3.0
asgiref==3.8.1
attrs==24.2.0
backports.csv==1.0.7
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bleach==4.1.0
blessed==1.20.0
boto3==1.12.21
botocore==1.15.49
build==0.10.0
CacheControl==0.12.14
cachetools==4.0.0
certifi==2019.11.28
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
ckanapi==4.3
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==43.0.3
defusedxml==0.6.0
diff-match-patch==20181111
dill==0.3.9
distlib==0.3.9
dj-database-url==0.5.0
Django==2.2.20
django-admin-sortable==2.2.3
django-adminplus==0.5
django-allauth==0.45.0
django-autoslug==1.9.6
django-ckeditor==5.9.0
django-debug-toolbar==2.2
django-environ==0.4.5
django-extensions==2.2.8
django-filter==2.2.0
django-haystack==2.8.1
django-import-export==2.0.2
django-js-asset==1.2.2
django-markdownify==0.8.0
django-modelcluster==5.3
django-partial-index==0.6.0
django-permissionedforms==0.1
django-picklefield==3.2
django-pipeline==1.7.0
django-q==1.3.9
django-recaptcha==2.0.6
django-storages==1.9.1
django-taggit==1.5.1
django-treebeard==4.2.0
djangorestframework==3.12.4
djangorestframework-csv==2.1.0
docopt==0.6.2
docutils==0.15.2
draftjs-exporter==2.1.7
drf-haystack==1.8.9
dulwich==0.21.7
enum34==1.1.10
et_xmlfile==1.0.1
exceptiongroup==1.2.2
filelock==3.16.1
filetype==1.2.0
frictionless==5.18.0
futures==3.1.1
greenlet==3.1.1
gunicorn==20.0.4
h11==0.14.0
html5lib==1.1
httplib2==0.19.1
humanize==4.11.0
idna==2.8
ijson==3.3.0
importlib_metadata==8.5.0
installer==0.7.0
isodate==0.7.2
jaraco.classes==3.4.0
jdcal==1.4.1
Jinja2==3.1.4
jinxed==1.3.0
jmespath==0.10.0
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==23.13.1
l18n==2021.3
laces==0.1.1
lockfile==0.12.2
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
MarkupPy==1.14
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.5.0
msgpack==1.1.0
mssql-django==1.1.3
mypy-extensions==1.0.0
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.3
outcome==1.3.0.post0
packaging==24.1
pathlib==1.0.1
pathlib2==2.3.7.post1
pathspec==0.12.1
petl==1.7.13
pexpect==4.9.0
Pillow==8.1.0
pillow_heif==0.20.0
pkginfo==1.11.2
platformdirs==4.3.6
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.5.0
polib==1.2.0
psycopg2==2.8.4
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyaml==19.12.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyJWT==2.9.0
pyodbc==5.2.0
pyOpenSSL==24.2.1
pyparsing==2.4.7
pyproject_hooks==1.2.0
PySocks==1.7.1
pysolr==3.8.1
python-dateutil==2.8.1
python-slugify==4.0.0
python3-openid==3.1.0
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==5.4.1
RapidFuzz==3.10.1
redis==3.5.3
referencing==0.35.1
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.3
rpds-py==0.20.0
s3transfer==0.3.7
sentry-sdk==0.14.1
shellingham==1.5.4
simpleeval==1.0.1
simplejson==3.17.0
six==1.14.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.1
stringcase==1.2.0
tablib==1.1.0
tabulate==0.9.0
telepath==0.3.1
text-unidecode==1.3
tomli==2.0.2
tomlkit==0.13.2
trio==0.27.0
trio-websocket==0.11.1
trove-classifiers==2024.10.21.16
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.8
urllib3-secure-extra==0.1.0
validators==0.34.0
virtualenv==20.27.1
wagtail==2.11
wagtail-localize==1.10
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
whitenoise==5.0.1
Willow==1.4.1
wsproto==1.2.0
xlrd==1.2.0
XlsxWriter==1.4.5
xlwt==1.3.0
zipp==3.20.2
zipstream==1.1.4
zope.event==5.0
zope.interface==7.1.1