.ExpenditureMultiplesSection-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    flex-flow: row wrap;
  }
}

.ExpenditureMultiplesSection-item {
  min-width: 0;
  padding-bottom: 1rem;

  @media screen and (min-width: 1000px) {
    width: (100% / 3);
    padding-right: 1rem;

    &--right {
      padding-left: 1rem;
      padding-right: 0;
    }
  }
}

.ExpenditureMultiplesSectionContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Three columns of equal width */
  gap: 16px;
  /* Space between items */
  margin: 20px;
  /* Optional margin around the grid */
}

.chart-container {
  margin-top: 20px;
}

.chart-frame {
  width: 100%;
  height: 75vh;
  border: none;
}

.ExpenditureMultiplesSection-share {
  max-width: 250px;
}

.ExpenditureMultiplesSection-cell {
  padding: 0.25rem 1rem;
}

.ExpenditureMultiplesSection-label {
  display: flex;
  @media screen and (max-width: 400px) {
    display: block;
  }
}

.ExpenditureMultiplesSection-labelItem {
  margin-top: 1rem;
  margin-right: 3rem;
}
