{% load define_action %}


{% assign ""|add:source_type|add:" "|add:year as source_text %}

{% assign "Learn more about these programmes in the "|add:source_type|add:" as PDF" as pdf_text %}

{% assign "Learn more about these programmes in the "|add:source_type|add:" as Excel" as excel_text %}

{% assign "Dataset Guide for "|add:source_type as guide_text %}


<div class="ProgrammesSection" id="programmes">
    <h3 class="Title Title--section">Spending plans by programme and sub-programme</h3>

    <div class="ProgrammesSection-container">
        <div class="ProgrammesSection-item">
            <div class="ProgrammesSection-share u-marginTop10 u-marginBottom15">
                <div data-component="Share" data-anchor="programmes" data-color="{{ color }}"></div>
            </div>

            <p class="js-tooltips">A department&#x27;s programmes are the activities that it spends money on during the
                financial year. Different programmes have different budgets, depending on their objectives and available
                budgets. More detail on the programmes is available in the
                department's {{ source_type }} documents.</p>

            <ul class="LinksList">
                {% if subprogramme_viz_data.get_dataset %}
                {% include 'components/LinksList/item.html' with prefix="Source" text=source_text
                url=subprogramme_viz_data.get_dataset.get_url_path type="dataset" %}
                {% endif %}

                {% if subprogramme_viz_data.get_dataset %}
                {% include 'components/LinksList/item.html' with text="Download this data for analysis (CSV)"
                url=subprogramme_viz_data.get_detail_csv_url type="download" %}
                {% endif %}

                {% include 'components/LinksList/item.html' with text=guide_text url=guide type="guide" %}

                {% include 'components/LinksList/item.html' with text=pdf_text url=pdf type="download" %}

                {% include 'components/LinksList/item.html' with text=excel_text url=excel type="download" %}
            </ul>
        </div>
        <!-- {% if subprogramme_viz_data.get_dataset %} -->

        <!-- {% else %}
        <div class="Message Message--secondary Missing">Data not available.</div>
        {% endif %} -->
        <div class="ProgrammesSection-item ProgrammesSection-item--right">
            <div class="Page-content">
                <div class="Card">
                    <div class="treemapWrapper">
                        <div class="treemapContainer">
                            <div class="treemapPanelHeader">
                                <label>PROGRAMME</label>
                            </div>
                            <div class="treemapSummary">
                                <p class="treemapSummaryEyebrow">Selected programme</p>
                                <p id="selectedProgramme" class="treemapSummaryName">All programmes</p>
                                <p id="selectedProgrammeAmount" class="treemapSummaryValue">R 0</p>
                            </div>
                            <div class="treemap" id="heatmap1"></div>
                        </div>
                    
                        <div class="treemapContainer">
                            <div class="treemapPanelHeader">
                                <label>SUB-PROGRAMME</label>
                            </div>
                            <div class="treemapSummary">
                                <p class="treemapSummaryEyebrow">Selected sub-programme</p>
                                <p id="selectedSubprogramme" class="treemapSummaryName">All sub-programmes</p>
                                <p id="selectedSubprogrammeAmount" class="treemapSummaryValue">R 0</p>
                            </div>
                            <div class="treemap" id="heatmap2"></div>
                        </div>
                    </div>
                    
                    <div class="tooltip DepartmentGraphTooltip" id="treemap-tooltip"></div>
                    <!-- <div class="selected-info" id="selected-info">Click a box to see details</div> -->
                    
                    
                    <script id="treemap" type="application/json">{{ treemap_chart|safe }}</script>
                </div>
            </div>
        </div>
    </div>

</div>
