{% load define_action %}


<nav class="ArrowButtons ArrowButtons--fixed" data-sticky-arrows>
  <ul class="ArrowButtons-list nav">
    <li class="ArrowButtons-item nav-item">
      <a class="ArrowButtons-button ArrowButtons-button--link ArrowButtons-button--green nav-link" href="#section-plan"
        data-scroll-smooth="#section-plan">
        <div class="ArrowButtons-box ArrowButtons-box--green">
          <div>
            <div class="ArrowButtons-heading">Plan</div>
            <div class="ArrowButtons-description">Budgets and expenditure planning.</div>
          </div>
        </div>
      </a>
    </li>

    <li class="ArrowButtons-item nav-item">
      <a class="ArrowButtons-button ArrowButtons-button--link ArrowButtons-button--orange nav-link"
        href="#section-implement" data-scroll-smooth="#section-implement">
        <div class="ArrowButtons-box ArrowButtons-box--orange">
          <div>
            <div class="ArrowButtons-heading">Implement</div>
            <div class="ArrowButtons-description">Implementation of department’s programmes.</div>
          </div>
        </div>
      </a>
    </li>

    <li class="ArrowButtons-item nav-item">
      <a class="ArrowButtons-button ArrowButtons-button--link ArrowButtons-button--purple nav-link"
        href="#section-review" data-scroll-smooth="#section-review">
        <div class="ArrowButtons-box ArrowButtons-box--purple">
          <div>
            <div class="ArrowButtons-heading">Review</div>
            <div class="ArrowButtons-description">Review of expenditure over the fiscal year.</div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</nav>


<div class="ArrowButtons">
  <ul class="ArrowButtons-list nav">
    <li class="ArrowButtons-item nav-item">
      <a class="ArrowButtons-button ArrowButtons-button--link ArrowButtons-button--green active is-responsive"
        href="{{ link_1 }}" data-scroll-smooth="{{ link_1 }}">
        <div class="ArrowButtons-box ArrowButtons-box--green is-responsive">
          <div>
            <div class="ArrowButtons-heading is-responsive">Plan</div>
            <div class="ArrowButtons-description is-responsive">Budgets and expenditure planning.</div>
          </div>
        </div>
      </a>
    </li>

    <li class="ArrowButtons-item nav-item">
      <a class="ArrowButtons-button ArrowButtons-button--link ArrowButtons-button--orange active is-responsive"
        href="{{ link_2 }}" data-scroll-smooth="{{ link_2 }}">
        <div class="ArrowButtons-box ArrowButtons-box--orange is-responsive">
          <div>
            <div class="ArrowButtons-heading is-responsive">Implement</div>
            <div class="ArrowButtons-description is-responsive">Implementation of department’s programmes.</div>
          </div>
        </div>
      </a>
    </li>

    <li class="ArrowButtons-item nav-item">
      <a class="ArrowButtons-button ArrowButtons-button--link ArrowButtons-button--purple active is-responsive"
        href="{{ link_3 }}" data-scroll-smooth="{{ link_3 }}">
        <div class="ArrowButtons-box ArrowButtons-box--purple is-responsive">
          <div>
            <div class="ArrowButtons-heading is-responsive">Review</div>
            <div class="ArrowButtons-description is-responsive">Review of expenditure over the fiscal year.</div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>