{% load define_action %}


<div class="ProgramEconSmallMultiplesSection" id="econ-classification">
    <h3 class="Title Title--section">Programme spending under economic classifications</h3>

    <div class="ProgramEconSmallMultiplesSection-container">
        <div class="ProgramEconSmallMultiplesSection-item">
            <div class="ProgramEconSmallMultiplesSection-share u-marginTop10 u-marginBottom15">
                <div data-component="Share" data-anchor="econ-classification" data-color="{{ color }}"></div>
            </div>

            <p class="js-tooltips">Budget programmes will differ in composition of spending, from compensation of
                employees, transfers to other agencies and goods and services, depending on their objective.</p>

            <p class="js-tooltips">Select an Economic Classification to filter the data in this chart and see how much
                programmes spend on that category.</p>

            <p class="js-tooltips" Only the categories that this department spends on are shown in the filter.</p>

            <ul class="LinksList">
                {% if subprog_econ4_bars_data.get_dataset %}
                {% include 'components/LinksList/item.html' with prefix="Source" text=source_text
                url=subprog_econ4_bars_data.get_dataset.get_url_path type="dataset" %}
                {% endif %}

                {% if subprog_econ4_bars_data.get_dataset %}
                {% include 'components/LinksList/item.html' with text="Download this data for analysis (CSV)"
                url=subprog_econ4_bars_data.get_detail_csv_url type="download" %}
                {% endif %}

                {% include 'components/LinksList/item.html' with text=guide_text url=guide type="guide" %}

                {% include 'components/LinksList/item.html' with text=pdf_text url=pdf type="download" %}

                {% include 'components/LinksList/item.html' with text=excel_text url=excel type="download" %}
            </ul>
        </div>
        <div class="ProgramEconSmallMultiplesSection-item ProgramEconSmallMultiplesSection-item--right">
            <div class="Page-content">
                <main>
                    <div class="powerbi-container">
                        <iframe class="w-full h-[75vh]"
                            src="http://5cg2126by0/Vulekamali-Report/powerbi/Programme%20Spending%20Econ%20Classification?rs:embed=true&chromeless=true&filter=budgetportal_enedata/financialYear eq {{ selected_financial_year|slice:':4' }} and budgetportal_enedata/department eq '{{ name }}'"
                            frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>